* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Smythe", cursive;
  background: #f5f5f5;
}

header,
main {
  margin: 0 auto;
  width: 600px;
}

header {
  background-image: url(./hamburger.jpg);
  background-size: cover;
  background-position: top -150px right 0px;
  padding: 40px 0 0 50px;
  height: 160px;
  color: #ffffff;
}

main {
  background: #ffffff;
}

.restauraunt-title {
  font-size: 39px;
}

.restauraunt-description {
  font-size: 22px;
}

.menu-item {
  width: 500px;
  margin: 0px auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.menu-image {
  font-size: 80px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item-name {
  font-size: 28px;
}

.menu-item-ingredients {
  font-size: 16px;
  color: #8b8b8b;
}

.menu-item-price {
  font-size: 20px;
  margin-top: 14px;
}

.order-btn:hover {
  cursor: pointer;
}

.add-button {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  margin: 0 0 0 auto;
  padding-bottom: 3px;
  border: 1px solid #dedede;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #16db994f;
  transition: 100ms ease;
}

.add-button:hover {
  background: #16db99a9;
  border-width: 2px;
}

.order-summary {
  padding: 40px;
  text-align: center;
  font-size: 28px;
}

.order-summary-details {
  margin-top: 70px;
}

.order-summary-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.order-summary-remove-item {
  border: none;
  background: none;
  margin: auto 0;
  color: #bbbbbb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.order-summary-remove-item:hover {
  text-decoration: underline;
}

.order-summary-item-price {
  margin-left: auto;
  font-size: 20px;
}

.order-summary-total {
  border-top: 1px solid black;
  padding-top: 20px;
}

.complete-order-btn,
.new-order-btn {
  margin-top: 50px;
  color: #ffffff;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background: #16db99;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 18px;
}

.pay-modal {
  display: none;
  height: 540px;
  width: 500px;
  background: #ffffff;
  box-shadow: 0 0 80px 20px black;
  border-radius: 3px;
  margin: auto;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}

.card-details-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 25px;
  width: 100%;
}

.pay-modal-title {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
}

.card-details-input {
  padding: 15px;
  font-size: 20px;
}

.pay-btn,
.edit-btn {
  margin: 0;
}

.edit-btn,
.new-order-btn {
  background: #707070;
  color: whitesmoke;
}

.order-status {
  color: #065f46;
  background: #ecfdf5;
  font-size: 32px;
  width: 100%;
  padding: 40px;
}
.pay-btn-inactive {
  background: #16db9963;
}

.pay-btn-inactive:hover {
  cursor: default;
}
