* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Smythe", cursive;
  background: #f5f5f5;
}

header,
main {
  margin: 0 auto;
  width: 600px;
}

header {
  background-image: url(./hamburger.jpg);
  background-size: cover;
  background-position: top -150px right 0px;
  padding: 40px 0 0 50px;
  height: 160px;
  color: #ffffff;
}

main {
  background: #ffffff;
}

.restauraunt-title {
  font-size: 39px;
}

.restauraunt-description {
  font-size: 22px;
}

.menu-item {
  width: 500px;
  margin: 0px auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid #d2d2d2;
}

.menu-image {
  font-size: 80px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-item-name {
  font-size: 28px;
}

.menu-item-ingredients {
  font-size: 16px;
  color: #8b8b8b;
}

.menu-item-price {
  font-size: 20px;
  margin-top: 14px;
}

button:hover {
  cursor: pointer;
}

.add-button {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  margin: 0 0 0 auto;
  padding-bottom: 3px;
  border: 1px solid #dedede;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #16db994f;
  transition: 100ms ease;
}

.add-button:hover {
  background: #16db99a9;
  border-width: 2px;
}

.order-summary {
  padding: 40px;
  text-align: center;
  font-size: 28px;
}

.order-summary-details {
  margin-top: 70px;
}

.order-summary-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.order-summary-remove-item {
  border: none;
  background: none;
  margin: auto 0;
  color: #bbbbbb;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}

.order-summary-remove-item:hover {
  text-decoration: underline;
}

.order-summary-item-price {
  margin-left: auto;
  font-size: 20px;
}

.order-summary-total {
  border-top: 1px solid black;
  padding-top: 20px;
}
